@tailwind base;
@tailwind components;
@tailwind utilities;

/* Store Global Variables */
:root {
  --siteBackground : #f9f9f9;
  --siteText       : #FFFFFF;
}

/* Normalize Global Size Values */
*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #d0e0e3;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin-top: 1rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}